*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav-r{
    padding: 0px 15px;
    display: inline-block;
    margin-top: 5px;
    color: #ffffff;
    text-shadow: 1px 2px 6px #000000;
}
.nav-l{
    display: inline-block;
    padding: 5px;
}

.nav-link-text{
  text-decoration: none;
  color: white;
}
.nav-link-text:hover{
  color: white;
}
.nav-r-containers{
    display: inline-block;
    float: right;
    margin-top: 15px;
    font-weight: 800;  
    
}
.nav-r-containers :hover{
  font-size: 20px;
  font-weight: 800;
}

.nav-l-containers{
    display: inline-block;
    float: left;
    text-shadow: 3px 3px 7px #000000ad;
    color: #ffffff; 
}
.nav-float{
    position: absolute; 
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 2;
    
}

.carousel-item {
    width: auto;
    max-height: 510px;
}

.carousel-control-prev {
  display: none!important;
}

.carousel-control-next {
  display: none!important;
}

.welcome{
    
    
    display: flex;
    justify-content: center;
    
    
    padding: 20px;
}
 .welcome-child{
    width: 50%;
    height: auto;  
    
}
.intro{
    align-items: center;
    display: flex;
    justify-content: center;
}

.intro-child{
    width: 70%;
    height: auto;
}    

.welcome-title{
    text-align: center;
    padding: 5px;
    
}

.welcome p{
    text-align: center;
    padding: 5px;
}
.feature-grid{
    
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 30px;
    border-bottom: 1px solid black;
    padding: 30px;
    margin-top: 50px;   
}
.svg-controler{
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
}
.featuer-controler{
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}
.feature-grid-child{
    text-align: center;
    
    height: auto;
    padding: 20px;
    border: black 1px solid;
    border-radius: 15px;
    width: 260px;
    
}

.main-about-grid{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    justify-content: center;
    margin-top: 20px;
    
}
.main-about-grid p{
    display: inline-block;
    padding: 20px;


}

.svg-about{
    opacity: 50%;
}

.welcome-title{
    margin-top: 30px;
    
    
}

/* ########################################################### */

.city-title{
  text-align: center;
  margin-top: 20px;
}

.city-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  margin-top: 40px;
  padding: 30px;
  
  
}

.city-image{
  width: 225px;
  height: auto;
  background-color:#ffe815;
  border: 1px solid black;
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  box-shadow: 5px 5px 5px;
  
}

.city-text{
  background-color: rgb(21, 42, 59);
  border: 1px solid black;
  box-shadow: 5px 0px 5px;
  
}

.city-name{
  font-size: 20px;
  text-align: center;
  padding: 5px;
  color: white;
}

.city-button{
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
  color: white;
  padding: 5px;
  margin: 10px auto;

}

.city-button:hover{
  background:#1b77ff;
  color: white;
  width: 150px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(15, 15, 15);
  
}
/* #################################################### */


/* .youtube-video{
  display: block;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  
}

.video-trailer{
  background-color: teal;
  padding: 20px;
 
}

.video-trailer .welcome-title{
  margin-top: 5px;
  color: white;

}
.youtube-frame{
  border-radius: 10px;
} */

/* ################################################# */
.category-flex{
  display: flex;
  justify-content: center;
}
/* .category-sizer{
  width: 20px;
  height: 20px;
} */
.category-text{
  text-align: center;
  font-size: 10px;
}

.category-grid{
  display: grid;
  grid-column: 3;
  grid-template-columns: 
  auto auto auto;
  padding: 20px;
  justify-content: space-around;
}

.category-img{
  border-radius: 50%;
  width: 100px;
  padding: 10px;
}

/* ############################################################# */

.near-buy-review{
  background-color: rgb(21, 42, 59);
  
  /* padding-bottom: 2%; */
  /* width: 400px;
  height: auto; */
  
}
.welcome-color{
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
}

.review-image-flex{
  display: flex;
  justify-content: center;
  
}

#featured{
    max-width:80%;
    max-height: 350px;
    object-fit: cover;
    cursor: pointer;
}

.thumbnail{
    object-fit: cover;
    max-width: 130px;
    max-height: 700px;
    cursor: pointer;
    opacity: 0.8;
    margin: 5px;


}

.thumbnail:hover{
    opacity:1;
    transform: scale(2);
}



#slide-wrapper{
    max-width: 800px;
    width: 550px;
    margin: 0 auto;
    display: flex;
    min-height: 150px;
    align-items: center;
}

#slider{
    width: 900rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

}

#slider::-webkit-scrollbar {
  display: none;
}

.arrow{
    width: 30px;
    height: 87px;
    cursor: pointer;
    transition: .3s;
   background-color: #000000;
}
.arrow:hover{
  background-color: rgb(22, 20, 20);
}

/* ################################################################### */


.contact-grid{
  display: grid;
  /* width: 500px;
  height: auto; */
  grid-template-columns: auto auto;
  

}
.contact-title{
  text-align: center;
  padding: 20px;
  color: white;
}
.contact-input{
  display: block;
  min-width: 300px;
  max-height: 200px;
  outline: none;
}
.contact-lable{
  padding:  10px 10px 10px 0px;
  color: white;
}
.form{
  display: flex;
  justify-content: center;
}
.maps{
  width: 100%;
  height: 520px;
  
}
.form-color{
  background-color: rgb(21, 42, 59);
}

.contact-button{
  width: 300px;
  height: 40px;;
  margin: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #1b77ff;
  color: #ffffff;
  
}
.contact-button:hover{
  background-color: #0050c7;
  font-weight: 600;
}


  
/* #################################################################### */
.coming-soon-cities-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center; 
  min-width: 350px;
  margin-bottom: 20px;
  /* max-height: 200px; */
  

}
.coming-soon-cities{
  max-width: 250px;
  margin: 10px;
  border: 1px solid black;
  margin-bottom: 20px;

}
.coming-soon-cities-name{
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.coming-soon-cities-p{
  text-align: center;
  font-size: smaller;
  margin-bottom: 10px;
}
.coming-soon-cities-img{
  max-width: 200px;
  min-height: 200px;
  margin-left: 30px;
}

/* ################################################################################ */
.footer-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  min-width: 500px;
  padding: 50px 30px;
  background-color: #d4d4d4;
}
.social-media-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column: 2; 
  justify-content: space-between;
  row-gap: 20px;
  margin-top: 10px;


}
.social-icon{
  padding: 10px;
  margin: 10px;
}
.icon-div{
  width: 200px;
}
.footer-titles{
  text-align: center;
}
.footer-text{
  margin: 0px;
  text-align: center;
}